body {
	background-color: #E0FFFF;
}

input {
	margin-bottom: 20px;
}

input[type=submit], button {
	
	color: white;
	padding: 12px 22px;
	text-align: center;
	font-size: 12px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	background-color: white;
	color: black;
	border: 2px solid #008CBA;
	margin-bottom: 10px;
	margin-top: 10px;
}
#i1{
	margin-top:-20px;
}
button:hover, input[type=submit]:hover {
	background-color: #008CBA;
	color: white;
}

input[type="text"] {
   border: 1px solid #cccccc;
   border-radius: 3px;
   background: #ffffff;
   height: 30px;
   width: 130px;
   color: black; 
   font-size: 14px; 
   font-family: Tahoma; 
}
